<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>活动列表</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/admin.css" rel="stylesheet">
<style type="text/css">
.table {
	margin-top: 30px;
	width: 1530px;
}

.float {
	position: fixed;
	bottom: 20px;
	right: 10px;
}
</style>
</head>
<body>
	<div class="container" id="wraper">
		<div class="row">
			<div class="span2">
				<div class="main-left-col">
					<h1>
						<i class="icon-shopping-cart icon-large"></i> Admin
					</h1>
					<ul class="side-nav">
						<li class="dropdown" v-for="(item1, i) in nav">
							<a class="dropdown-toggle" data-toggle="collapse" :data-target="'#sub-nav-' + i"
								:href="item1.link"> <!-- <i class="icon-home"></i> -->
									{{item1.name}}<b class="caret"></b>
							</a>
							<ul :id="'sub-nav-' + i" class="collapse">
								<li v-for="(item2, i) in item1.sub_nav"><a :href="item2.link">{{item2.name}}</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end main-left-col -->
			</div>
			<!-- end span2 -->

			<div class="span10">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th style="text-align: center;">名称</th>
							<th style="text-align: center;">发起者</th>
							<th style="text-align: center;">会员价格</th>
							<th style="text-align: center;">嘉宾价格</th>
							<th style="text-align: center;">厂商价格</th>
							<th style="text-align: center;">开始日期</th>
							<th style="text-align: center;">结束日期</th>
							<th style="text-align: center;">报名结束日期</th>
							<th style="text-align: center;">联系电话</th>
							<th style="text-align: center;">主办单位</th>
							<th style="text-align: center;">人数上限</th>
							<th style="text-align: center;">地址</th>
							<th style="text-align: center;">活动类型</th>
							<th style="text-align: center;">发布日期</th>
							<th style="text-align: center;">活动状态</th>
							<th style="text-align: center;">活动二维码</th>
							<th style="text-align: center;">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,i) in pageInfo.data">
							<td style="text-align: center;">{{item.name}}</td>
							<td style="text-align: center;">{{item.createor}}</td>
							<td style="text-align: center;">{{item.price}}</td>
							<td style="text-align: center;">{{item.distinguished_price}}</td>
							<td style="text-align: center;">{{item.manufacturer_price}}</td>
							<td style="text-align: center;">{{item.start_date}}</td>
							<td style="text-align: center;">{{item.end_date}}</td>
							<td style="text-align: center;">{{item.join_end_date}}</td>
							<td style="text-align: center;">{{item.telephone}}</td>
							<td style="text-align: center;">{{item.host_unit}}</td>
							<td style="text-align: center;">{{item.upper_limit}}</td>
							<td style="text-align: center;">{{item.address}}</td>
							<td style="text-align: center;">{{item.type |
								showActiveType}}</td>
							<td style="text-align: center;">{{item.create_date}}</td>
							<td style="text-align: center;">{{item.status |
								showActiveStatus}}</td>
							<td style="text-align: center;"><a href="javascript:void(0)"
								@click="getQRCode(i)">查看二维码</a></td>
							<td>
								<a href="javascript:void(0)" v-if="item.status == 0"	@click="changeStatus(i, 1)">开启</a> 
								<a href="javascript:void(0)" v-if="item.status == 1" @click="changeStatus(i, 0)">关闭</a> 
								<a href="javascript:void(0)" @click="getActiveDetail(i)">查看详情</a> 
								<a href="javascript:void(0)" @click="updateActive(i)">编辑</a>
							</td>
						</tr>
					</tbody>
				</table>
				<ul class="pagination float">
					<li><a href="javascript:void(0)">当前页:{{pageInfo.currentPage}}</a></li>
					<li><a href="javascript:void(0)">共:{{pageInfo.totalPage}}页</a></li>
					<li><a href="javascript:void(0)" @click="paging(0)">上一页</a></li>
					<li><a href="javascript:void(0)" @click="paging(1)">下一页</a></li>
					<li><a href="javascript:void(0)"><input type="text"
							id="page"
							style="margin: 0; padding: 0 5px; outline: none; width: 50px; height: 100%;"
							v-model="model.page"
							onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
							onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" /></a></li>
					<li><a href="javascript:void(0)" @click="paging(2)">直达</a></li>
				</ul>
			</div>
			<!-- end span10 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

	<script src="js/jquery.min.js"></script>
	<script src="js/qrcode.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nav_config.js"></script>
	<script src="../purchaser/js/commonUtils.js"></script>
	<script src="../purchaser/js/vue.min.js"></script>
	<script type="text/javascript">
	
		var vue = new Vue({
			el: "#wraper",
			data: {
				nav: nav,
				pageInfo: {},
				model: {},
				qrcode: {}
			},
			created: function () {
				this.init();
			},
			
			methods: {
				// 初始化
				init: function () {
					var param = {
							pageSize: 15
					}
					if (sessionStorage.getItem("activeCurrentPage")) {
						param.currentPage = sessionStorage.getItem("activeCurrentPage");
						sessionStorage.removeItem("activeCurrentPage");
					} else {
						param.currentPage = 1;
					}
					this.getActiveList(param);
				},
				
				// 查询挑战列表
				getActiveList: function (param) {
					// 请求数据
					var url = location.origin + "/admin/getActiveList.pur";
					requestServer(url, param, function(res) {
						Vue.set(vue, "pageInfo", res);
					})
				},
			
				// 改变活动状态
				changeStatus: function (index, status) {
					var url = location.origin + "/admin/changeActiveStatus.pur";
					var activeList = vue.pageInfo.data;
					var param = {
							activeId: activeList[index].id,
							status: status
					}
					requestServer(url, param, function(res) {
						activeList[index].status = status;
						Vue.set(vue.pageInfo, "data", activeList);
					})
				},
				
				// 生成活动二维码
				getQRCode: function (index) {
					var active = this.pageInfo.data[index];
					sessionStorage.setItem("activeId", active.id);
					sessionStorage.setItem("activeCurrentPage", vue.pageInfo.currentPage);
					location.href = location.origin + "/admin/toPage.pur?url=qrcode.html";
				},
				
				// 查看活动详情
				getActiveDetail: function (index) {
					var activeId = vue.pageInfo.data[index].id;
					sessionStorage.setItem("activeCurrentPage", vue.pageInfo.currentPage);
					location.href = location.origin + "/admin/toPage.pur?url=active_release.html&operation=0&activeId=" + activeId;
				},
				
				// 修改活动信息
				updateActive: function (index) {
					var activeId = vue.pageInfo.data[index].id;
					sessionStorage.setItem("activeCurrentPage", vue.pageInfo.currentPage);
					location.href = location.origin + "/admin/toPage.pur?url=active_release.html&operation=1&activeId=" + activeId;
				},
				
				// 翻页
				paging: function (type) {
					// 计算页码
					var currentPage = this.pageInfo.currentPage;
					if (type == 0) {
						// 上一页
						if (currentPage <= 1) {
							return;
						}
						currentPage--;
					} else if (type == 1) {
						// 下一页
						if (currentPage >= this.pageInfo.totalPage) {
							return;
						}
						currentPage++;
					} else {
						// 直达
						if (!this.model.page || this.model.page == "" || this.model.page < 1 || this.model.page > this.pageInfo.totalPage || isNaN(this.model.page)) {
							alert("页码无效");
							return;
						}
						currentPage = this.model.page;
					}
					var param = {
							currentPage: currentPage,
							pageSize: 15
					}
					this.getActiveList(param);
				}
			},
			
			filters: {
				
				// 显示活动类型
				showActiveType: function (value) {
					return ["联谊活动","培训沙龙","参观访问"][value];
				},
				
				// 显示状态
				showActiveStatus: function (value) {
					return ["关闭", "开启"][value];
				}
			}
		});
	</script>
</body>
</html>