<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>会员录入</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script"
	rel="stylesheet" type="text/css">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/admin.css" rel="stylesheet">
<style type="text/css">
.form-group {
	display: flex;
	justify-content: space-between;
	align-items: center; margin : 0 auto;
	margin-top: 20px;
	margin: 0 auto; margin-top : 20px;
	width: 34%;
}

.control-input {
	margin-left: 10px;
}

.active-image {
	padding-right: 50px; width : 140px;
	width: 140px;
	height: 100px;
	overflow: hidden;
}

.img-rounded {
	width: 100%;
	height: auto;
}

.submit-button {
	margin: 20px auto;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #F0F0F2;
	border: 1px solid #BBB;
	border-radius: 5px;
	cursor: pointer;
}


.address{
   width: 60%;
   margin-left: 320px;
}


</style>
</head>
<body>
	<div class="container" id="wraper">
		<div class="row">
			<div class="span2">
				<div class="main-left-col">
					<h1>
						<i class="icon-shopping-cart icon-large"></i> Admin
					</h1>
					<ul class="side-nav">
						<li class="dropdown" v-for="(item1, i) in nav">
							<a class="dropdown-toggle" data-toggle="collapse" :data-target="'#sub-nav-' + i"
								:href="item1.link"> <!-- <i class="icon-home"></i> -->
									{{item1.name}}<b class="caret"></b>
							</a>
							<ul :id="'sub-nav-' + i" class="collapse">
								<li v-for="(item2, i) in item1.sub_nav"><a :href="item2.link">{{item2.name}}</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- end main-left-col -->

			</div>
			<!-- end span2 -->

			<div class="span10">
				<form role="form"> 
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">选择用户</label>
						<div class="col-sm-10 control-input">
						    <select v-model="user" @change="changeUser()">
								<option v-for='item in userList' :value='item' >{{item.name}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">照片</label>
						<div class="col-sm-10 control-input active-image">
							<img :src="base_picture_url + model.image" class="img-rounded" v-if="model.image && model.operation != 0" 
								@click="javascript:document.querySelector('#file').click()" />
							<div style="height: 98px; line-height: 100px; text-align: center; border: 1px solid #BBB;" v-if="!model.image" 
								@click="javascript:document.querySelector('#file').click()">
								请上传一寸免冠照
							</div>
							<input id="file" type="file" name="file" hidden @change="uploadImage()">
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">姓名</label>
						<div class="col-sm-10 control-input">
							<input type="text" class="form-control" id="firstname"
								placeholder="请输入姓名" v-model="model.name">
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">职务</label>
						<div class="col-sm-10 control-input">
							<input type="text" class="form-control" id="firstname"
								placeholder="请输入职务" v-model="model.duty">
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">身份证号</label>
						<div class="col-sm-10 control-input">
							<input type="text" class="form-control" id="firstname"
								placeholder="请输入身份证号" v-model="model.id_card_num" >
						</div>
					</div>
					<div class="form-group address">
						<label for="firstname" class="col-sm-2 control-label">籍贯</label>
						<div class="col-sm-10 control-input">
							<span>
									  省份:
									<select v-model="province" @change='changeProvince()'>
										<option v-for='item in iosProvinces' :value='item' >{{item.value}}</option>
									</select>
									
									
									        城市:
									<select v-model = "model.city" id = "selectCity"  >
									    <option v-for='item in iosCitys' v-if='item.parentId == model.provinceId' :value='item.value'>{{item.value}}</option>
									</select>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">手机号</label>
						<div class="col-sm-10 control-input">
							<input type="text" class="form-control" id="firstname"
								placeholder="请输入手机号" v-model="model.mobilephone" >
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">电子邮箱</label>
						<div class="col-sm-10 control-input">
						       <input type="text" class="form-control" id="firstname"
								placeholder="请输入电子邮箱" v-model="model.email" >
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">企业名称</label>
						<div class="col-sm-10 control-input">
								<input type="text" class="form-control" id="firstname"
										placeholder="请输入企业名称" v-model="model.affiliation" >
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">行业</label>
						<div class="col-sm-10 control-input">
						      <select v-model="model.business_id">
								<option v-for='item in business' :value='item.id' >{{item.value}}</option>
							  </select>
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">企业类型</label>
						<div class="col-sm-10 control-input">
						
						    <select v-model="model.company_type_id">
								<option v-for='item in company_type' :value='item.id' >{{item.value}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">会员类型</label>
						<div class="col-sm-10 control-input">
							<select v-model="types" @change='changeType()'>
								<option v-for='item in member_type' :value='item' >{{item.value}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-sm-2 control-label">会员年费</label>
						<div class="col-sm-10 control-input">
							<span type="text" class="form-control" id="firstname"
								 v-model="model.upperLimit" >{{model.price}}</span>
						</div>
					</div>
					
					
					<div class="submit-button" @click="submit()" v-if="!model.operation">确定</div>
					<div class="submit-button" @click="updateActive()" v-if="model.operation && model.operation != 0">确定</div>
				</form>
			</div>
			<!-- end span10 -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->

	<script src="js/jquery.min.js"></script>
	<script src="js/ajaxfileupload.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/nav_config.js"></script>
	<script src="js/required.js"></script>
	<script src="../purchaser/js/commonUtils.js"></script>
	<script src="../purchaser/js/areaData_v2.js"></script>
	<script type="text/javascript">
		var vue = null;
		
		
		require(['../purchaser/js/vue.min.js'], function(Vue){
			 vue = new Vue({
				el: "#wraper",
				data: {
					nav: nav,
					base_picture_url: location.origin + "/picture/",
					model: {},
					userList:[],
					user:{},
					province:{},
					types:{},
					business:[],
					company_type:[],
					member_type:[]
				},
				created: function () {
					this.init();
					if (this.GetQueryString("activeId")) {
						var url = location.origin + "/active/getActiveById.pur";
						var param = {
								activeId: this.GetQueryString("activeId")
						}
						requestServer(url, param, function (res) {
							var data = res.active;
							data.operation = vue.GetQueryString("operation");
							Vue.set(vue, "model", res.active);
							// 修改页面标题
							document.title = '会员录入';
						});
						return;
					}
					
					if (sessionStorage.getItem("model") && sessionStorage.getItem("model") != "") {
						var model = JSON.parse(sessionStorage.getItem("model"));
						Vue.set(this, "model", model);
					} else {
						Vue.set(this.model, "type", 0);
					}
				},
				methods: {
					// 取URL中参数
					GetQueryString: function (name)
					{
					     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
					     var r = window.location.search.substr(1).match(reg);
					     if(r!=null)return  unescape(r[2]); return null;
					},
					
					// 上传图片
					uploadImage: function () {
						// 读取文件
						var file = {
								path: $("#file")[0].files[0],
								size: $("#file")[0].files[0].size,
								subffix: $("#file")[0].value.split(".")[1].toUpperCase()
						};
					    // 上传文件
					    if (file.size >0 ) {
					    	if (file.size > 10*1024*1024) {
					    		alert("请选择小于10M的图片！");
					    		$(".mui-backdrop").hide();
					    		return;
					    	} else if ( file.subffix != "JPG" && file.subffix != "PNG" && file.subffix != "JPEG" && file.subffix != "GIF" ){
					    		alert("图片类型必须是.gif,jpeg,jpg,png中的一种");
					    		return;
					    	} else {
					    		// 异步上传图片到服务器
					    		$.ajaxFileUpload({
					    			url: location.origin + "/uploadFile.pur",
					    			type: "post",
					    			fileElementId: "file",
					    			success: function (res) {
					    				res = JSON.parse($(res).text());
					    				Vue.set(vue.model, "image", res.picture);
					    			},
					    			error: function (e) {
					    				console.log(e);
					    			}
					    		});
					    	}
					    }
					},
					
					
					// 校验表单
					checkForm: function () {
						// 用户
						if (!this.model.user || this.model.user == "") {
							alert("请选择用户！");
							return false;
						}
						
						// 照片
						if (!this.model.image || this.model.image == "") {
							alert("请上传一寸免冠照！");
							return false;
						}
						
						// 姓名
						if (!this.model.name || this.model.name == "") {
							alert("请输入真实姓名！");
							return false;
						}
						
						// 职务
						if (!this.model.duty || this.model.duty == "") {
							alert("请输入职务！");
							return false;
						}
						
						// 身份证
						if (!this.model.id_card_num || this.model.id_card_num == "") {
							alert("请输入身份证号！");
							return false;
						}
						
						// 籍贯
						if (!this.model.province || this.model.province == "" || !this.model.city || this.model.city == "") {
							alert("请选择籍贯！");
							return false;
						}
						
						// 手机号
						if (!this.model.mobilephone || this.model.mobilephone == "") {
							alert("请输入手机号！");
							return false;
						}
						
						// 电子邮箱
						if (!this.model.email || this.model.email == "") {
							alert("请输入电子邮箱！");
							return false;
						}
						
						// 企业名称
						if (!this.model.affiliation || this.model.affiliation == "") {
							alert("请输入企业名称！");
							return false;
						}
						
						// 行业
						if (!this.model.business_id || this.model.business_id == "") {
							alert("请选择行业！");
							return false;
						}
						
						// 企业类型
						if (!this.model.company_type_id || this.model.company_type_id == "") {
							alert("请选择企业类型！");
							return false;
						}
						
						// 会员类型
						if (!this.model.type_id || this.model.type_id == "") {
							alert("请选择会员类型！");
							return false;
						}
						
						return true;
					},
					
					// 提交表单
					submit: function () {
						if (!this.checkForm()) {
							return;
						}
						
						// 数据校验通过，提交数据到后台
						var url = location.origin + "/member/saveMember.pur";
						requestServer(url, this.model, function (res) {
							if (res.success) {
								alert("会员录入成功！");
								window.location.reload();
							} else {
								alert("程序异常，原因：" + res.message);
							}
							
						});
						
						
					},
					
					// 修改活动
					updateActive: function () {
						if (this.checkForm()) {
							var url = location.origin + "/active/updateActive.pur";
							requestServer(url, this.model, function (res) {
								alert("修改成功!");
								sessionStorage.setItem("model", "");
								location.href = location.origin + "/admin/toPage.pur?url=active_release.html&operation=0&activeId=" + vue.model.id;
							});
						}
					},
					
					// 查询可供选择的页面数据
					init: function () {
						var url = location.origin + '/user/getList4release.pur';
						var param = {
			    			 business: 1,
			    			 company_type: 2,
			    			 type: 3,
			    			 valid:1
				    	};
						requestServer(url, param, function(res) {
							if (res.success) {
								// 数据请求成功
								vue.userList = res.userList;
								vue.business = res.business;
								vue.company_type = res.company_type;
								vue.member_type = res.type;
							} else {
								// 程序异常，数据请求失败
								console.log('程序异常，原因：' + res.message);
							}
						})
					},
					
					// 选择用户改变事件
					changeUser: function () {
						var user = vue.user;
						var model = vue.model;
						model.user = user.id;
						model.name = user.name;
						model.province = user.province;
						model.city = user.city;
						model.id_card_num = user.id_card_num;
						model.mobilephone = user.mobilephone;
						model.email = user.email;
						model.image = user.image;
					},
					
					// 选择省份改变事件
					changeProvince: function () {
						var province = vue.province;
						var model = vue.model;
						model.provinceId = province.id;
						model.province = province.value;
					},
					
					// 选择会员类型改变事件
					changeType: function () {
						var types = vue.types;
						var model = vue.model;
						model.type = types.value;
						model.type_id = types.id;
						model.price = types.price;
					}
					
				},
				
				
				filters: {
					
					// 保留两位小数
					numberHidden: function (value) {
						return value.toFixed(2);
					}
				}
			});
		}); 
	</script>


</body>
</html>