<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.purchaser.dao.ContentMapper" >
  <resultMap id="BaseResultMap" type="com.purchaser.pojo.Content" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="content_type" property="contentType" jdbcType="VARCHAR" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="content_url" property="contentUrl" jdbcType="VARCHAR" />
    <result column="set_top" property="setTop" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, image, remark, content_type, classification, content_url, set_top, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_content
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_content
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.purchaser.pojo.Content" >
    insert into tb_content (id, name, image, 
      remark, content_type, classification, 
      content_url, set_top, create_date)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{contentType,jdbcType=VARCHAR}, #{classification,jdbcType=VARCHAR}, 
      #{contentUrl,jdbcType=VARCHAR}, #{setTop,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.purchaser.pojo.Content" >
    insert into tb_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="contentType != null" >
        content_type,
      </if>
      <if test="classification != null" >
        classification,
      </if>
      <if test="contentUrl != null" >
        content_url,
      </if>
      <if test="setTop != null" >
        set_top,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="contentUrl != null" >
        #{contentUrl,jdbcType=VARCHAR},
      </if>
      <if test="setTop != null" >
        #{setTop,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.purchaser.pojo.Content" >
    update tb_content
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="contentType != null" >
        content_type = #{contentType,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="contentUrl != null" >
        content_url = #{contentUrl,jdbcType=VARCHAR},
      </if>
      <if test="setTop != null" >
        set_top = #{setTop,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.purchaser.pojo.Content" >
    update tb_content
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      content_type = #{contentType,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      content_url = #{contentUrl,jdbcType=VARCHAR},
      set_top = #{setTop,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 查询内容列表 -->
  <select id="getContentList" parameterType="Map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
	from tb_content where content_type = #{contentType} 
	<if test="classification != null and classification != '' or 0 == classification">
		and classification = #{classification}
	</if>
	<if test="setTop != null and setTop != '' or 0 == setTop">
		and set_top = #{setTop}
	</if>
	order by create_date desc
  </select>
</mapper>