<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.purchaser.dao.ExperienceMapper" >
  <resultMap id="BaseResultMap" type="com.purchaser.pojo.Experience" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="admirer" property="admirer" jdbcType="BIGINT" />
    <result column="user" property="user" jdbcType="BIGINT" />
    <result column="startTime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="post" property="post" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.purchaser.pojo.Experience" extends="BaseResultMap" >
    <result column="post_detail" property="postDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admirer, user, startTime, endTime, company_name, post
  </sql>
  <sql id="Blob_Column_List" >
    post_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_experience
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_experience
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.purchaser.pojo.Experience" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_experience (id, admirer, user, startTime, 
      endTime, company_name, post, 
      post_detail)
    values (#{id,jdbcType=BIGINT}, #{admirer,jdbcType=BIGINT}, #{user, jdbcType=BIGINT}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{companyName,jdbcType=VARCHAR}, #{post,jdbcType=VARCHAR}, 
      #{postDetail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.purchaser.pojo.Experience" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_experience
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="admirer != null" >
        admirer,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="starttime != null" >
        startTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="post != null" >
        post,
      </if>
      <if test="postDetail != null" >
        post_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="admirer != null" >
        #{admirer,jdbcType=BIGINT},
      </if>
      <if test="user != null" >
        #{user,jdbcType=BIGINT},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="postDetail != null" >
        #{postDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.purchaser.pojo.Experience" >
    update tb_experience
    <set >
      <if test="admirer != null" >
        admirer = #{admirer,jdbcType=BIGINT},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=BIGINT},
      </if>
      <if test="starttime != null" >
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="post != null" >
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="postDetail != null" >
        post_detail = #{postDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.purchaser.pojo.Experience" >
    update tb_experience
    set admirer = #{admirer,jdbcType=BIGINT},
      user = #{user,jdbcType=BIGINT},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      company_name = #{companyName,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      post_detail = #{postDetail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.purchaser.pojo.Experience" >
    update tb_experience
    set admirer = #{admirer,jdbcType=BIGINT},
      user = #{user,jdbcType=BIGINT},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      company_name = #{companyName,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getExperiences" parameterType="String" resultType="Map">
       select 
                <include refid="Base_Column_List" />
			    ,
			    <include refid="Blob_Column_List" />
			    from tb_experience
			    where user = #{userId}
			    ORDER BY endTime desc 
  </select>
  
  
</mapper>