<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.purchaser.dao.ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.purchaser.pojo.Parameter" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, parent,value, valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_parameter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_parameter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.purchaser.pojo.Parameter" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_parameter (id, code, name, 
      parent, value, valid)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parent,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR},#{valid,jdbcType=VARCHAR},)
  </insert>
  <insert id="insertSelective" parameterType="com.purchaser.pojo.Parameter" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.purchaser.pojo.Parameter" >
    update tb_parameter
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=BIGINT},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.purchaser.pojo.Parameter" >
    update tb_parameter
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=BIGINT},
      value = #{value,jdbcType=VARCHAR}
      valid = #{valid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <!-- 根据父id查询子记录 -->
  <select id="findParameterByParent" resultType="Map" parameterType="Map">
         select 
         p.id, p.name as value, p.parent, p.value as price, p.code, p.valid
         from tb_parameter p 
         where p.parent = #{parent}
         <if test="valid != null and valid != '' ">
               and p.valid = #{valid}
         </if>
  </select>
  
  
  
</mapper>