<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.purchaser.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.purchaser.pojo.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="id_card_num" property="idCardNum" jdbcType="VARCHAR" />
    <result column="concord" property="concord" jdbcType="VARCHAR" />
    <result column="mobilephone" property="mobilephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="power" property="power" jdbcType="INTEGER" />
    <result column="register_date" property="registerDate" jdbcType="TIMESTAMP" />
    <result column="wechat_id" property="wechatId" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, gender, id_card_num, concord, mobilephone, email, image, power, register_date, wechat_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.purchaser.pojo.User" >
    insert into tb_user (id, name, gender, 
      id_card_num, concord, mobilephone, 
      email, image, power, 
      register_date, wechat_id)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{idCardNum,jdbcType=VARCHAR}, #{concord,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{power,jdbcType=INTEGER}, 
      #{registerDate,jdbcType=TIMESTAMP}, #{wechatId, jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.purchaser.pojo.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="idCardNum != null" >
        id_card_num,
      </if>
      <if test="concord != null" >
        concord,
      </if>
      <if test="mobilephone != null" >
        mobilephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="power != null" >
        power,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="concord != null" >
        #{concord,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        #{power,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.purchaser.pojo.User" >
    update tb_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="idCardNum != null" >
        id_card_num = #{idCardNum,jdbcType=VARCHAR},
      </if>
      <if test="concord != null" >
        concord = #{concord,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null" >
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="power != null" >
        power = #{power,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.purchaser.pojo.User" >
    update tb_user
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      id_card_num = #{idCardNum,jdbcType=VARCHAR},
      concord = #{concord,jdbcType=VARCHAR},
      mobilephone = #{mobilephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      power = #{power,jdbcType=INTEGER},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      wechat_id = #{wechatId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据id查询用户的基本信息   -->
  <select id="findUser" parameterType="Long" resultType="Map">
          select 
          		   <include refid="Base_Column_List" />
            from  
            	   tb_user
            where 
            	   id = #{userId}
  </select>
  
  <!-- 根据wechatId查询用户基本信息 -->
  <select id="findUserByWechatId" parameterType="String" resultMap="BaseResultMap">
          select 
          		  <include refid="Base_Column_List"/>
          	from
          		  tb_user
           where
                  wechat_id = #{wechatId}
  </select>
  
  <!-- 查询当前登录用户是否为会员 -->
  <select id="checkIsMember" parameterType="Long" resultType="int">
  	select count(u.id) from tb_user u inner join tb_member m on u.id = m.user where u.id = #{userId} and m.valid = 1 
  </select>
  
  <!-- 后台管理系统管理员登录 -->
  <select id="adminLogin" parameterType="Map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from tb_user
  	where mobilephone = #{account} and password = #{password}
  </select>
</mapper>